.ia-header{
    display: block;
    width: $full;
    margin: 0 auto;
}

.ia-logo-container-grid{
    display: grid;
}

.ia-logo-container{
    display: block;
    width: $medium;
    margin: 0 auto;
    text-align: center;
    justify-self: center;
    text-decoration: none;
}

.ia-logo-container .ia-logo-container-link{
    color: $extraDarkGrey;
    font-size: 4rem;
    text-decoration-line: none;
    letter-spacing:10px;
}