.ia-calendar-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    margin-top: 10px;
}

.react-calendar {
    width: 380px;
}
.react-calendar__navigation__label {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.react-calendar__month-view__weekdays__weekday {
    font-size: 1.4rem;
}

.activeStyle {
    background: rgba(2, 145, 255, 0.769);
}

.weekdays-hover:hover {
    cursor: pointer;
    // background: rgba(2, 145, 255, 0.769);
}

.weekdays-disable:hover {    
    background: rgba($clrGrey, 0.769);
}

.disabled-days {
    background: rgba($clrGrey, 0.769);
    font-weight: 300;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: auto;
    width: 380px;
    font-size: 1.4rem;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid $clrGrey;
    box-shadow: 0 4px 100px -13px$mediumGrey;
}

.weekdayHeader {
    font-weight: 700
}

.weekdays {
    align-self: center;
    padding: 10px 0;
    margin: 1px;
}

.monthYear {
    grid-column: 2/7;
    align-self: center;
    padding: 10px 0 20px 0;
    font-weight: 700
}

.arrow {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 700;
}