.ia-contact-us{
    display: block;
    width: $medium;
    margin: 0 auto;
    color: $darkBrown;
}
.ia-contact-us-container-grid{
    margin-bottom: 20px;
    padding:20px;
    border: 1px solid $lightBrown;
    background: $clrBrown;
    color: $darkBrown;
}
