body{
    font-family: 'Poiret One', cursive;

    hr{
        border-color: #d5c1b6;
        background: #d5c1b6;
    }
}

@import './variables';

@import './global-styles';
@import './calendar/calendar';
@import './header/header';
@import './header/sub-header-nav';

@import './team/team';
@import './team/team-card';

@import './about-us/about-us';
@import './about-us/contact-us';